<div class="col-sm-offset-1 col-sm-6">
    <h1 class="text-center">{{test}}</h1>
    <br/>
    <div ng-repeat="post in posts">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{post.title}}
                </h3>
            </div>
            <div class="panel-body">
                <p>{{post.body}}</p>
                <a ng-href="/#/posts/{{post._id}}">View</a>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <form ng-submit="createPost()">
            <label>Title</label>
            <input type = "text" ng-model="post.title"></input>
            <label>Body</label>
            <input type = "text" ng-model="post.body"></input>
            <button type="submit">Post</button>
        </form>
    </div>
</div>
