<!DOCTYPE html>
<html>
<head>
    <title>Favourites - Mood Journal</title>
</head>

<body>
    <div>
        <h1>Favourites</h1>
        <% posts.forEach(function(post) { %>
            <div>
                <h2><%= post.title %></h2>
                <a href='/posts/<%= post.id %>'>See More</a>
            </div>
        <% }); %>
    </div>
</body>
</html>
