<!DOCTYPE html>
<html>
<head>
    <title>Mood Journal</title>
</head>

<body>
    <p>Welcome to Mood Journal!</p>
    <br>

    <% if (!user) { %>
        <a href="/login">Login</a>
        <br>
        <a href="/register">Register</a>
    <% } else { %>
        <a href="/logout">Logout</a>
        <br>
        <a href="/posts">Posts</a>
        <br>
        <a href="/posts/new">New Post</a>
    <% } %>
</body>
</html>
