<!DOCTYPE html>
<html>
<head>
    <title>Login - Mood Journal</title>
</head>

<body>
    <p>Login to Mood Journal!</p>
    <br>

    <form action="/login" method="post">
        <label>Username</label>
        <input type="text" name="username">
        <br>

        <label>Password</label>
        <input type="pasword" name="password">
        <br>

        <button type="submit">Login</button>
    </form>

    <br>
    <span>Don't have an account?</span>
    <a href="/register">Register</a>
</body>
</html>
