<!DOCTYPE html>
<html>
<head>
    <title>New Post - Mood Journal</title>
</head>

<body>
    <p>Create a new post!</p>
    <br>

    <form action="/posts" method="post">
        <label>Title</label>
        <input type="text" name="title">
        <br>

        <label>Text</label>
        <input type="text" name="text">
        <br>

        <button type="submit">Create</button>
    </form>
</body>
</html>
