<!DOCTYPE html>
<html>
<head>
    <title>Register - Mood Journal</title>
</head>

<body>
    <p>Register to Mood Journal!</p>
    <br>

    <form action="/register" method="post">
        <label>Name<label>
        <input type="text" name="name">
        <br>

        <label>Email<label>
        <input type="text" name="email">
        <br>

        <label>Username<label>
        <input type="text" name="username">
        <br>

        <label>Password<label>
        <input type="password" name="password">
        <br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
